<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Edit Location</title>
</head>
<body>
<div class="container">
    <div class="container">
        <div class="row m-4">
            <div class="col text-center border border-dark">
                <h1><a href="/" class="text-dark">Super Finder</a></h1>
            </div>
        </div>
        <div class="row m-4 border border-dark">
            <div class="col text-center m-3">
                <a href="/supers" class="btn btn-outline-primary btn-lg">Supers</a>
            </div>
            <div class="col text-center m-3">
                <a href="/locations" class="btn btn-outline-primary btn-lg">Locations</a>
            </div>
            <div class="col text-center m-3">
                <a href="/organizations" class="btn btn-outline-primary btn-lg">Organizations</a>
            </div>
            <div class="col text-center m-3">
                <a href="/sights" class="btn btn-outline-primary btn-lg">Sightings</a>
            </div>
        </div>
    </div>
    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Edit Location</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="/locations/editLocation" method="POST">
                <div class="form-group row">
                    <label for="locName" class="col-3 col-form-label">
                        Location Name</label>
                    <div class="col-9">
                        <input type="text" name="locName" id="locName"
                               class="form-control" th:value="${location.locName}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="locDescription" class="col-3 col-form-label">
                        Description</label>
                    <div class="col-9">
                        <input type="text" name="locDescription" id="locDescription"
                               class="form-control"  th:value="${location.locDescription}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="locAddress" class="col-3 col-form-label">
                        Address</label>
                    <div class="col-9">
                        <input type="text" name="locAddress" id="locAddress"
                               class="form-control" th:value="${location.locAddress}">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="coordinates" class="col-3 col-form-label">
                        Coordinates</label>
                    <div class="col-9">
                        <input type="text" name="coordinates" id="coordinates"
                               class="form-control" th:value="${location.coordinates}">
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${location.id}"/>
                <button type="submit" class="btn btn-primary">
                    Update Location</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>